
##########
# MUSIC STACK
##########
services:
  navidrome:
    container_name: navidrome
    image: deluan/navidrome:latest
    ports:
      - "4533:4533"
    restart: unless-stopped
    env_file: secrets.env
    environment:
      PUID: 1000  
      PGID: 1000  
      # Optional: put your config options customization here. Examples:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: ""
      # Setup spotify and lastfm secrets in secrets.env
      #ND_SPOTIFY_ID: ""
      #ND_SPOTIFY_SECRET: ""
      #ND_LASTFM_APIKEY: ""
      #ND_LASTFM_SECRET: ""
    volumes:
      - "/opt/music/navidrome/:/data"
      - "/mnt/music:/music:ro"
  
  octo-fiestarr:
    image: ghcr.io/bransoned/octo-fiestarr
    container_name: octo-fiestarr
    restart: unless-stopped
    ports:
      - "5274:8080"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Rome
      - ASPNETCORE_ENVIRONMENT=Production
      # Navidrome/Subsonic server URL
      - Subsonic__Url=http://10.0.46.126:4533
      # Explicit content filter: All, ExplicitOnly, CleanOnly (default: ExplicitOnly)
      - Subsonic__ExplicitFilter=All
      # Download mode: Track (only requested track), Album (full album when playing a track)
      - Subsonic__DownloadMode=Track
      # Download path inside container
      - Library__DownloadPath=/app/downloads
      # SquidWTF preferred audio quality
      - SquidWTF__Quality=HIGH
      # Set cache or permanent download of external songs
      - Storage__Mode=Cache
      # Set cache duration
      - Cache__DurationHours=1
    volumes:
      - /mnt/music/:/app/downloads

  aonsoku:
    container_name: aonsoku
    image: ghcr.io/victoralvesf/aonsoku:latest
    restart: unless-stopped
    ports:
      - 8080:8080